body {
  /* Credit to https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
  for 100vh
  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  background-color: hsla(51, 100%, 26%, 0.166);
  color: hsla(51, 5%, 30%, 1)
}

main > div {
  flex: 1;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
 }

#h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    hsla(0, 100%, 26%, 0.166),
    hsla(51, 100%, 26%, 0.166)
  );
}

#img-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    hsla(51, 100%, 26%, 0.166),
    hsla(221, 100%, 26%, 0.166)
  );
}
/*
@keyframes boxy{
  0%{
    box-shadow: 0px -20px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  10%{
    box-shadow: 5px -15px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  20%{
    box-shadow: 10px -10px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  30%{
    box-shadow: 10px -5px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  40%{
    box-shadow: 5px 0px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  50%{
    box-shadow: 0px 5px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  60%{
    box-shadow: -5px 10px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  70%{
    box-shadow: -10px -10px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  80%{
    box-shadow: -10px -10px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  90%{
    box-shadow: -5px -10px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  100%{
    box-shadow: 0px -15px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
}

@keyframes boxy-sharp{
  0%{
    box-shadow: 0px -15px 20px 20px hsla(221, 100%, 26%, 0.266);
  }
  10%{
    box-shadow: 5px -5px 18px 20px hsla(221, 100%, 26%, 0.266);
  }
  20%{
    box-shadow: 10px -10px 16px 20px hsla(221, 100%, 26%, 0.366);
  }
  30%{
    box-shadow: 10px -5px 14px 20px hsla(221, 100%, 26%, 0.466);
  }
  40%{
    box-shadow: 5px 0px 12px 20px hsla(221, 100%, 26%, 0.566);
  }
  50%{
    box-shadow: 0px 0px 10px 20px hsla(221, 100%, 26%, 0.666);
  }
  60%{
    box-shadow: -5px -5px 8px 20px hsla(221, 100%, 26%, 0.766);
  }
  70%{
    box-shadow: -10px -10px 6px 20px hsla(221, 100%, 26%, 0.766);
  }
  80%{
    box-shadow: -5px -10px 4px 20px hsla(221, 100%, 26%, 0.866);
  }
  90%{
    box-shadow: 0px -5px 3px 20px hsla(221, 100%, 26%, 0.966);
  }
  100%{
    box-shadow: 0px 0px 20px 20px hsla(221, 100%, 26%, 0.966);
  }
}
*/
#image{
  z-index: 1;
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50%;
  /*
  box-shadow: 0px 0px 25px 25px hsla(51, 100%, 50%, 0.166);

  animation:
   3s linear boxy,
   3s linear 3s boxy-sharp;
  animation-fill-mode: forwards;

  good color:
  box-shadow: 0px 0px 25px 25px hsla(51, 100%, 50%, 1.366);

  */

}

#outer-box-shadow-rotate{
display: flex;
flex-direction: column;
align-items: center;
max-width: 100%;
animation: 3s linear box-rotate;
border-radius: 50%;
box-shadow: -15px 5px 20px 10px hsla(51, 100%, 50%, 0.366);
}

#inner-box-shadow-rotate{
  animation: 3s linear shadow-rotate;
  border-radius: 50%;
}

@keyframes box-rotate{
  0%{
    transform: rotate(0deg);
    }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
    }
  75%{
    transform: rotate(270deg);
    }
  100%{
    transform: rotate(360deg);
    }
}


@keyframes shadow-rotate{
  0%{
    transform: rotate(0deg);
    }
  25%{
    transform: rotate(-90deg);
  }
  50%{
    transform: rotate(-180deg);
    }
  75%{
    transform: rotate(-270deg);
    }
  100%{
    transform: rotate(-360deg);
    }
}



#tribute-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    hsla(221, 100%, 26%, 0.166),
    hsla(51, 100%, 26%, 0.166)
  );
  width: 100%;
}

#link{
  display: flex;
  background: linear-gradient(
   hsla(51, 100%, 26%, 0.166),
   hsla(0, 100%, 26%, 0.166)
);
}

#tribute-link:hover{
  color: hsla(221, 100%, 50%, 1);
}



/*
font-weight:inherit;
  background-color: hsla(240, 100%, 50%, 0.166);
  background: linear-gradient(
    180deg,
    white 10px,
    hsla(240, 100%, 50%, 0.166) 20px,
    hsla(240, 100%, 50%, 0.166) 20px
  );
  border-collapse: collapse;

  background: linear-gradient(
    180deg,
    white 20px,
    blueviolet 40px,
    hsla(240, 100%, 50%, 0.166) 40px
  );
  */
