body {
  /* Credit to https://philipwalton.github.io/solved-by-flexbox/demos/holy-grail/
  for 100vh
  */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  margin: 0px;
  background-color: hsla(51, 100%, 26%, 0.166);
}

main > div {
  flex: 1;
}

main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
 }

#h1 {
  display: flex;
  justify-content: center;
  /*
  background-color: hsla(221, 100%, 26%, 0.166);
  */
  background: linear-gradient(
    hsla(0, 100%, 26%, 0.166),
    hsla(51, 100%, 26%, 0.166)
  );
}

#img-div{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /*
  background-color: hsla(241, 100%, 36%, 0.166);
  */
  background: linear-gradient(
    hsla(51, 100%, 26%, 0.166),
    hsla(221, 100%, 26%, 0.166)
  );
}

@keyframes boxy{
  0%{
    box-shadow: 0px 0px 15px 15px hsla(47, 100%, 26%, 0.166);
  }
  10%{
    box-shadow: 5px -5px 15px 15px hsla(51, 100%, 26%, 0.266);
  }
  20%{
    box-shadow: 10px -10px 15px 15px hsla(51, 100%, 26%, 0.366);
  }
  30%{
    box-shadow: 10px -5px 15px 15px hsla(51, 100%, 26%, 0.466);
  }
  40%{
    box-shadow: 5px 0px 15px 15px hsla(51, 100%, 26%, 0.566);
  }
  50%{
    box-shadow: 0px 0px 15px 15px hsla(51, 100%, 26%, 0.666);
  }
  60%{
    box-shadow: -5px -5px 15px 15px hsla(51, 100%, 26%, 0.766);
  }
  70%{
    box-shadow: -10px -10px 15px 15px hsla(51, 100%, 26%, 0.866);
  }
  80%{
    box-shadow: -5px -10px 15px 15px hsla(51, 100%, 26%, 0.966);
  }
  90%{
    box-shadow: 0px -5px 15px 15px hsla(51, 100%, 26%, 1.166);
  }
  100%{
    box-shadow: 0px 0px 15px 15px hsla(51, 100%, 26%, 1.266);
  }
}

#image{
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 25px hsla(51, 100%, 50%, 0.166);
  animation: boxy 2s;
  animation-fill-mode: forwards;
}

#tribute-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*
  background-color: hsla(221, 100%, 50%, 0.166);
  */
  background: linear-gradient(
    hsla(221, 100%, 26%, 0.166),
    hsla(51, 100%, 26%, 0.166)
  );
  width: 100%;
}

#link{
  display: flex;

  /*
  background-color: hsla(51, 100%, 26%, 0.166);
*/
background: linear-gradient(
  hsla(51, 100%, 26%, 0.166),
  hsla(0, 100%, 26%, 0.166)
);
}

#tribute-link:hover{
  color: dodgerblue;
}



/*
font-weight:inherit;
  background-color: hsla(240, 100%, 50%, 0.166);
  background: linear-gradient(
    180deg,
    white 10px,
    hsla(240, 100%, 50%, 0.166) 20px,
    hsla(240, 100%, 50%, 0.166) 20px
  );
  border-collapse: collapse;

  background: linear-gradient(
    180deg,
    white 20px,
    blueviolet 40px,
    hsla(240, 100%, 50%, 0.166) 40px
  );
  */
